/* reset */
* {margin: 0; padding: 0;}
li {list-style: none;}
a {color: #333; text-decoration:none;}
.clearfix::before, .clearfix::after {display: block; content: '';clear: both;}

/* layout */
#wrap {width: 900px; height: 4850px; background: #fff; margin: 0 auto;}
#header {margin-top: 50px;  text-align: center; height: 200px; background: #fff;}

#banner {width: 900px; text-align: center; height: 600px; overflow: hidden;}
.slidelist {position: relative; width: 14400px; height: 600px;}
.slidelist .slideimg {position: relative; float: left; width: 900px; height: 600px;}
.slidelist .slideimg h2 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: }
.slidelist .slideimg img {display: block;}

#contents1 > div.banner {height: 135px; background: #fff; border-top: 0.8px solid #000; padding-top: 70px; margin-top: 65px;}
#contents1 > div.imgli0 {float: left; width: 450px; height: 430px; background: #fff;}
#contents1 > div.imgli1 {float: right; width: 450px; height: 430px; background: #fff;}
#contents1 > div.imgli2 {float: left; width: 450px; height: 430px; background: #fff; margin-top: 60px;}
#contents1 > div.imgli3 {float: right; width: 450px; height: 430px; background: #fff; margin-top: 60px;}
#contents1 > div.imgli4 {float: left; width: 450px; height: 430px; background: #fff; margin-top: 60px;}
#contents1 > div.imgli5 {float: right; width: 450px; height: 430px; background: #fff; margin-top: 60px;}
#contents1 > div.imgli6 {float: left; width: 450px; height: 430px; background: #fff; margin-top: 60px;}
#contents2 {margin-top: 2000px; height: 130px; background: #ffF; border-top: 0.8px solid #000; padding-top: 70px; }
#footer {height: 70px; background: #ffF; border-top: 0.8px solid #000; padding-top: 50px; }

/* header */
#header h1 {padding-top: 40px; padding-left: 0px; font-size: 65px; font-weight: 100; font-family: 'Epilogue', sans-serif;}

/* contents1 */
#contents1 > div.banner h2 {text-align: center; font-weight: 400; font-family: 'Nunito Sans', sans-serif; font-size: 35px; }


#contents1 > div.imgli0 ul {float: left; padding-top: 0px;}
#contents1 > div.imgli0 li {margin-left: 90px; padding-top: 0px;}
#contents1 > div.imgli0 li img {width: 350px;}
#contents1 > div.imgli0:hover li img {border-radius: 50%;}
#contents1 > div.imgli0 li span {display: block; margin-top: 10px;
                    font-size: 30px; font-family: "Georgia"; font-weight: 200; }
#contents1 > div.imgli0 li p {display: block; margin-top: 10px;
                font-size: 18px; color: #808080; font-weight: 300; font-family: 'Nunito Sans', sans-serif;}


#contents1 > div.imgli1 ul {float: right; padding-top: 0px;}
#contents1 > div.imgli1 li {margin-right: 90px; padding-top: 0px;}
#contents1 > div.imgli1 li img {width: 350px;}
#contents1 > div.imgli1:hover li img {border-radius: 50%;}
#contents1 > div.imgli1 li span {display: block; margin-top: 10px;
                    font-size: 30px; font-family: "Georgia"; font-weight: 100;}
#contents1 > div.imgli1 li p {display: block; margin-top: 10px;
                font-size: 18px; color: #808080; font-weight: 300; font-family: 'Nunito Sans', sans-serif;}


#contents1 > div.imgli2 ul {padding-top: 0px;}
#contents1 > div.imgli2 li {margin-left: 90px; padding-top: 0px;}
#contents1 > div.imgli2 li img {width: 350px;}
#contents1 > div.imgli2:hover li img {border-radius: 50%;}
#contents1 > div.imgli2 li span {display: block; margin-top: 10px;
                    font-size: 30px; font-family: "Georgia"; font-weight: 100;}
#contents1 > div.imgli2 li p {display: block; margin-top: 10px;
                font-size: 18px; color: #808080; font-weight: 300; font-family: 'Nunito Sans', sans-serif;}

#contents1 > div.imgli3 ul {float: right; padding-top: 0px;}
#contents1 > div.imgli3 li {margin-right: 90px; padding-top: 0px;}
#contents1 > div.imgli3 li img {width: 350px;}
#contents1 > div.imgli3:hover li img {border-radius: 50%;}
#contents1 > div.imgli3 li span {display: block; margin-top: 10px;
                    font-size: 30px; font-family: "Georgia"; font-weight: 100;}
#contents1 > div.imgli3 li p {display: block; margin-top: 10px;
                font-size: 18px; color: #808080; font-weight: 300; font-family: 'Nunito Sans', sans-serif;}

#contents1 > div.imgli4 ul {padding-top: 0px;}
#contents1 > div.imgli4 li {margin-left: 90px; padding-top: 0px;}
#contents1 > div.imgli4 li img {width: 350px;}
#contents1 > div.imgli4:hover li img {border-radius: 50%;}
#contents1 > div.imgli4 li span {display: block; margin-top: 9px;
                    font-size: 28px; font-family: "본고딕 KR"; font-weight: 200;}
#contents1 > div.imgli4 li p {display: block; margin-top: 10px;
                font-size: 18px; color: #808080; font-weight: 300; font-family: 'Nunito Sans', sans-serif;}

#contents1 > div.imgli5 ul {float: right; padding-top: 0px;}
#contents1 > div.imgli5 li {margin-right: 90px; padding-top: 0px;}
#contents1 > div.imgli5 li img {width: 350px;}
#contents1 > div.imgli5:hover li img {border-radius: 50%;}
#contents1 > div.imgli5 li span {display: block; margin-top: 10px;
                    font-size: 30px; font-family: "Georgia"; font-weight: 100;}
#contents1 > div.imgli5 li p {display: block; margin-top: 10px;
                font-size: 18px; color: #808080; font-weight: 300; font-family: 'Nunito Sans', sans-serif;}

#contents1 > div.imgli6 ul {float: left; padding-top: 0px;}
#contents1 > div.imgli6 li {margin-left: 90px; padding-top: 0px;}
#contents1 > div.imgli6 li img {width: 350px;}
#contents1 > div.imgli6:hover li img {border-radius: 50%;}
#contents1 > div.imgli6 li span {display: block; margin-top: 10px;
                    font-size: 30px; font-family: "Georgia"; font-weight: 100;}
#contents1 > div.imgli6 li p {display: block; margin-top: 10px;
                font-size: 18px; color: #808080; font-weight: 300; font-family: 'Nunito Sans', sans-serif;}

/* contents2 */
#contents2 > div.banner h2 {text-align: center; font-weight: 400; font-family: 'Nunito Sans', sans-serif; font-size: 35px; margin-bottom: 80px;}

#contents2 > div.thum1 {position: relative;}
#contents2 > div.thum1 li img {width: 500px; height: auto; margin-left: 200px; filter:grayscale(100%)}
#contents2 > div.thum1 li img:hover {filter: grayscale(0%);}
#contents2 > div.thum1 li h3 {position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
    text-align: center;
    padding: 5px 10px;
    font-size: 35px; color: #ffff; font-weight: 500; font-family: 'Nunito Sans', sans-serif; font-style: italic;}
#contents2 > div.thum1 li span p {position: absolute;
	top: 90%;
	left: 50%;
	transform: translate( -50%, -50% );
    padding: 5px 10px;
    font-size: 13px; color: #ffff; font-weight: 100; font-family: 'Nunito Sans', sans-serif;}

#contents2 > div.thum2 {position: relative; margin-top: 30px;}
#contents2 > div.thum2 li img {width: 500px; height: auto; margin-left: 200px; filter:grayscale(100%)}
#contents2 > div.thum2 li img:hover {filter: grayscale(0%);}
#contents2 > div.thum2 li h3 {position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
    text-align: center;
    padding: 5px 10px;
    font-size: 35px; color: #ffff; font-weight: 500; font-family: 'Nunito Sans', sans-serif; font-style: italic;}
#contents2 > div.thum2 li span p {position: absolute;
	top: 90%;
	left: 50%;
	transform: translate( -50%, -50% );
    padding: 5px 10px;
    font-size: 13px; color: #ffff; font-weight: 100; font-family: 'Nunito Sans', sans-serif;}


/* footer */
#footer p {font-family: 'Nunito Sans', sans-serif; font-weight: 100; font-size: 14px; font-style: ; text-align: center; padding-bottom: 10px; color: #313131;}
